sudo: false

language: java

jdk:
  - oraclejdk8

install: mvn install -U -DskipTests=true

script: mvn test -U -Dmaven.javadoc.skip=true

cache:
  directories:
  - $HOME/.m2

branches:
  only:
    - master
